html,
body {
  margin: 0;
}

body {
  background-color: #f6ebcf;
  font-family: "Times New Roman", serif;
}

.encabezado-aplicacion {
  width: 100%;
  padding: 1px;
  background-color: #312c20;
}

.navegacion-aplicacion {
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;
  width: 100%;
}

.titulo-aplicacion {
  margin: 10px 0 0 40px;
  padding: 0;
  color: #e2cb92;
  text-align: center;
}

.boton-iniciar-sesion {
  width: 90px;
  height: 70%;
  margin-right: 20px;
  color: white;
  background-color: #061336;
  border: 2px solid ghostwhite;
  border-radius: 12px;
}

.boton-iniciar-sesion:hover {
  border: none;
  outline: 2px solid rgba(255, 255, 255, 0.619);
  scale: 1.05;
}

.aplicacion-tareas {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
  margin: 20px auto 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.titulo-formulario-tareas,
.titulo-lista-tareas {
  height: 6px;
  margin: 0;
  font-size: 16px;
}

.titulo-lista-tareas {
  border-top: 2px solid black;
  border-radius: 100px;
}

.formulario-tareas {
  display: flex;
  margin-top: 0;
  background-color: #e2cb92;
  border: 2px solid black;
  border-radius: 12px;
}

.formulario-tareas:hover {
  box-shadow: 0 12px 25px rgba(137, 196, 181, 0.2);
}

.entrada-nueva-tarea {
  width: 90%;
  min-height: 20px;
  margin: 2px;
  padding: 8px;
  color: #ffedc1;
  background-color: #312c20;
  border-radius: 8px;
  resize: none;
  overflow: hidden;
  field-sizing: content;
}

.entrada-nueva-tarea:focus {
  outline: none;
  background-color: #70664d;
}

.entrada-nueva-tarea::placeholder {
  color: #e2cb92;
}

.boton-agregar-tarea,
.tarea__boton-eliminar,
.tarea__boton-completar,
.boton-modal {
  padding: 7px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.boton-agregar-tarea {
  margin: auto;
  padding: 0;
  border-radius: 12px;
}

.boton-agregar-tarea:hover,
.tarea__boton-completar:hover {
  color: green;
  scale: 1.2;
}

.lista-tareas {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  background-color: #e2cb92;
  border: 1px solid black;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.lista-tareas:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.tarea {
  display: grid;
  grid-template-columns: auto 10fr auto;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.tarea__titulo {
  grid-column: span 3;
  width: 70%;
  margin: 10px auto;
  color: #312c20;
  background-color: #f6eedd;
  border: 2px solid #061336;
  border-radius: 12px;
}

.tarea__contenido {
  position: relative;
  width: 95%;
  min-height: 20px;
  margin: 2px 0;
  padding: 8px;
  background-color: #f6eedd;
  border-radius: 8px;
  resize: none;
  overflow: hidden;
  field-sizing: content;
}

.tarea__boton-eliminar {
  margin-right: 2px;
}

.tarea__boton-eliminar:hover {
  color: red;
  scale: 1.2;
}

.tarea__boton-completar {
  margin: 0;
}

.material-symbols-outlined {
  padding: 0;
  font-size: 35px;
}

.material-symbols-outlined:hover {
  background-color: #e8dab7;
  border-radius: 8px;
}

#modal-editar-tarea,
#modal-titulo-tarea {
  position: fixed;
  z-index: 30;
  top: 50%;
  left: 50%;
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: #e2cb92;
  border: 2px solid black;
  border-radius: 22px;
  transform: translate(-50%, -50%);
}

.titulo-modal {
  margin: 10px 0;
}

#entrada-editar-tarea,
#entrada-titulo-tarea {
  width: 90%;
  padding: 5px;
  outline: none;
  background: #e7d9b7;
  border: 1px solid black;
  border-radius: 8px;
  resize: none;
  field-sizing: content;
}

.acciones-modal {
  display: flex;
  justify-content: space-between;
}

#guardar-edicion-tarea,
#guardar-titulo-tarea {
  margin: 5px;
  color: green;
}

#cancelar-edicion-tarea,
#cancelar-titulo-tarea {
  margin: 5px;
  color: red;
}

#guardar-edicion-tarea:hover,
#guardar-titulo-tarea:hover {
  background-color: rgb(134, 222, 134);
  border-radius: 50%;
  scale: 1.1;
}

#cancelar-edicion-tarea:hover,
#cancelar-titulo-tarea:hover {
  background-color: rgb(238, 173, 173);
  border-radius: 50%;
  scale: 1.1;
}

.esta-oculto {
  display: none;
}

#fondo-modal {
  position: fixed;
  z-index: 20;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}
