
body{
    margin: 0;
    background-color: #f6ebcf;
    font-family:'Times New Roman';
}
html{
    margin: 0;
}
.nav{
    display: grid;
    width: 100%;
    grid-template-columns: 8fr 1fr ;
    align-items: center;
}

.header{
    margin: 0;
    padding: 0;
    background-color: #312c20;
    padding: 1px;
    width: 100%;
}
.titulo{
    margin-left: 40px;
    text-align: center;
    padding: 0;
    margin-top: 10px;
    color:#e2cb92 ;
}

.button-iniciar-session{
    border: 2px solid ghostwhite;
    border-radius: 12px;
    background-color: #061336;
    color: white;
    width: 90px;
    height: 70%;
    align-items: center;
    margin-right: 20px;
}
.button-iniciar-session:hover{
    border: none;
    scale: 1.05;
    outline: 2px solid rgba(255, 255, 255, 0.619);
}

/*main*/
.contenedor{
    font-family:arial;
    display: flex;
    justify-content: center;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
    gap: 15px;
}

.titulo_lista{
    font-size:16px;
    margin: 0px;
    height: 6px;
}
.titulo_listas{
    font-size:16px;
    margin: 0px;
    height: 10px;
    border-top: 2px solid black;
    height: 6px;
    border-radius: 100px;
}
.agregar{
    width: 90%;
    border-radius: 8px;
    margin: 2px;
    min-height: 20px;
    resize: none;
    overflow: hidden;  
    padding: 8px;
    field-sizing: content;
    background-color: #312c20;

}


.agregar:focus{
    background-color: #70664d;
}

.agregar::placeholder{
    color: #e2cb92;
}
.lista{
background-color:#e2cb92 ;
border: 2px solid black;
border-radius: 12px;
margin-top: 0;
display: flex;

}

.lista:hover {
   
    box-shadow: 0 12px 25px rgba(137, 196, 181, 0.2);
}



.contenedor__de_listas{
    background-color:#e2cb92 ;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    margin-top: 0;
    transition: all .2s ease;
}
.contenedor__de_listas:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

}
.listas{
    display: grid;
    grid-template-columns: auto  10fr auto;
    align-items: center;
    justify-content: center;
    gap: 0px;
}





.agregarT{
    width: 95%;
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    min-height: 20px;
    resize: none;
    overflow: hidden;  
    padding: 8px;
    field-sizing: content;
    position: relative;
    background-color: #f6eedd;

}
.enviar {
    border: none;
    background: transparent;
    cursor: pointer;
    margin:auto;
    padding: none;
    border-radius: 12px;
    
}
.enviar:hover{
    
    color: green;
    scale: 1.2;
}

.material-symbols-outlined:hover{
    background-color: #e8dab7;
    border-radius: 8px;
    
   
}





.eliminar{
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right:2px;
    padding: 7px;

}
.check{
    border: none;
    background: transparent;
    cursor: pointer;
    margin:0;
    padding: 7px;
}

.check:hover{
scale: 1.2;
    color: green;
}
.eliminar:hover{
    scale: 1.2;
    color: red;
}

.material-symbols-outlined {
    font-size: 35px;
    padding: none;
}

#modal{
    position: fixed;
    margin: auto;
    text-align: center;
    border: 2px solid black;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    border-radius: 22px;
    background-color: #e2cb92;
}
.botones-modal{
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
}
.boton-modal{
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right:2px;
    padding: 7px;
    

}
#guardar{
    color: green;
    margin: 5px;
    margin-right: 5px;
        
}
#cancelar{
    color: red;
    margin: 5px;
    margin-left: 5px;
}
#cancelar:hover{
    background-color: rgb(238, 173, 173);
    border-radius: 50%;
    scale: 1.1;
}
#guardar:hover{
    background-color: rgb(134, 222, 134);
    border-radius: 50%;
    scale: 1.1;
}
#textarea-modal{
    padding: 5px;
    width: 90%;
    border-radius: 8px;
    border: 1px solid black;
    field-sizing: content;
    outline: none;
    background: #e7d9b7;
    resize: none;
}
.oculto{
    display: none;
}
#fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    inset: 0;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
} 
.titulo-modal{
    margin-bottom: 10px;
    margin-top: 10px
}
loging-no-account{
    color: white;
}