body{
    margin:0;
    background-color: #9DA2AF;
}


.login-container{
    background-color: #061336;
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 16px;
    text-align: center  ;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.7);
}
.login-tittle{
    color:#FFFFFF ;
}



.login-email{
    width: 80%;
    margin: auto;
    margin-top: 0px;
    height: 33px;
    border-radius: 12px;
    outline: none;
    border: none;
    padding-left: 5px;
    background-color:#1F2B4B ;
    color: #AEB5C4;
    
}

.login-password{
    width: 80%;
    margin: auto;
    margin-top: 0px;
    height: 33px;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color:#1F2B4B ;
    color: #AEB5C4;
    ;
}
.ojo{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    color: #AEB5C4;
    width: 10%;
    border: none;
    right: 13%;
}
.ojo span{
    border-radius: 50%;
    padding: 5px;
}
.ojo span:hover{
    background-color: #061336;
}

.login-contenedor-contraseña{
    width: 100%;
    position: relative;
    grid-column: 1 / -1;
    
}







.login-email{
    margin-top: 0;
}
.login-email::placeholder{
    color:#AEB5C4  ;
}
.div-no-account{
    display: flex;
}
.loging-no-account{
    margin-top: 5px;
    color: #1F2B4B;
    text-decoration: none;
    font-size: 13px;
    margin: auto;
    margin-top: 20px;
    font-weight: 900;
    border: 2px solid;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
    border-top: none;
    border-right: none;
    border-left: none;

}

.loging-no-account:hover{
    scale: 1.05;
}
.login-button-error{
    color: #AEB5C4;
    margin-top: 0;
    margin-bottom: 20px;
    
}
.login-button{
    width: 130px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 12px;
    border: none;
    border: none ;
    background-color:#3282F6;
    color:#FFFFFF ;
    margin-top: 25px;
    margin-bottom: 20px;
}



.login-button:hover{
    scale: 1.1;
    box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.1);
}

.login-email:hover{
    outline: 2px solid #AEB5C4 
}
.login-password:hover{
    outline: 2px solid #AEB5C4 
}
.login-password:focus{
    outline: 2px solid #AEB5C4 
}

.login-email-label,.login-contraseña-label{
    margin-bottom: 0;
    color: #AEB5C4 ;
    margin-top: 20px;
    text-align: start;
    margin-left: 10%;
    margin-bottom: 1px;
}
.login-email-error,.login-contraseña-error{
    margin-bottom: 0;
    color: #851c1a ;
    margin-top: 0px;
    text-align: start;
    margin-left: 10%;
    margin-bottom: 1px;
}


/*-------------------REGISTER-----------------------/*/

.register-container{
    background-color:#061336;
    display: grid;
    width: 50%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    border-radius: 16px;
    border: none;
    text-align: center  ; 
    box-shadow: 0px 15px 30px rgba(0,0,0,0.7);
}
h2{
    grid-column: 1 / -1;
    color: #FFFFFF;
    margin-bottom: 0;
}
.nombre{
    margin-bottom: 0;
    color: #AEB5C4 ;
    margin-top: 20px;
    text-align: start;
    margin-left: 20%;
    margin-bottom: 1px;
    
}

.register-email,.register-password{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: 33px;
    border-radius: 12px;
    outline: none;
    border: 2px solid #380c07;
    background-color:#9d67ff ;
    grid-column: 1 / -1;
    color: #1d0af8;
}

.register-password-confirm{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    height: 33px;
    border-radius: 12px;
    outline: none;
    border: 2px solid #380c07;
    grid-column: 1 / -1;
    color: #AEB5C4 ;
}
.register-name,.register-surname{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: 33px;
    border-radius: 12px;
    outline: none;
    border: 2px solid #380c07;
    grid-column: 1 / -1;
    color: #AEB5C4 ;
    
}
.register-name:hover{
    outline: 2px solid #AEB5C4 
}
#register-birthdate:hover{
    outline: 2px solid #AEB5C4 
}
#register-gender:hover{
    outline: 2px solid #AEB5C4 
}
.register-password:hover{
   outline: 2px solid #AEB5C4  
}
.register-email:hover{
   outline: 2px solid #AEB5C4 
}

.register-surname:hover{
    outline: 2px solid #AEB5C4  ;
}
#register-gender,#register-birthdate{
    height: 30px;
    border-radius: 8px;
    color: #AEB5C4 ;
    margin: auto;
    
}
#register-gender{
    width: 40%;
    margin-top: 20px;
    height: 37px;
}

#register-birthdate{
    width: 40%;
    height: 35px;
    margin: auto;
    margin-top: 20px;
}
.register-password{
    margin-bottom: 10px;
    
}

.register-button{
    width: 130px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    border: none;
    background-color:#2358a8;
    color:#FFFFFF ;
    margin-top: 15px;
    grid-column: 1 / -1;
    margin-bottom: 0;
}
.register-button:hover{
        outline: 2px solid #AEB5C4 ;
        transform: translateY(-2px);
        box-shadow: 0px 15px 30px rgba(230, 219, 114, 0.15);
    }

.register-no-acaunt{
    margin-top: 5px;
    color: #AEB5C4 ;
    grid-column: 1 / -1;
    text-decoration: none;
    margin-bottom: 13px;
    color: #FFFFFF;
}

.register-no-acaunt:hover{
    scale: 1.05;
    
}

.register-error{
    color: rgb(173, 3, 3);
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    grid-column: 1 / -1;
    margin-top: 15px;
    margin-bottom: 15px;
}

.register-password-confirm,.register-email,.register-password,.register-name,.register-surname,#register-gender,#register-birthdate{
    background-color: #1F2B4B;
    color: #7f047f;
    border: none;
    color:#9DA2AF; 
    padding-left: 5px;
}
.register-password-confirm::placeholder,.register-email::placeholder,.register-password::placeholder,.register-name::placeholder,.register-surname::placeholder,#register-gender::placeholder,#register-birthdate::placeholder{
    color: #9DA2AF;;
}
.register-error-edad,.register-error-email,.register-error-contraseña{
    
    color: rgb(180, 8, 8);
}

.register-name,.register-surname,.register-email{
    margin-top: 0;
}

/*-----------CODIGO-------------*/

.codigo-box{
    background-color:#061336;
    display: grid;
    width: 50%;
    margin: auto;
    grid-template-columns: r 1fr;
    margin-top: 50px;
    border-radius: 16px;
    border: none;
    text-align: center  ; 
    box-shadow: 0px 15px 30px rgba(0,0,0,0.7);
}

.codigo-titulo{
    font-size: large;
    
}

.codigo-texto{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: medium;
    color: #AEB5C4;
}

.codigo-texarea{
    border-radius: 8px;
    width: 30%;
    margin: auto;
    border:none;
    resize: none;
    overflow: hidden;
    height: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}
.codigo-texarea:focus{
    border: none;
    outline: none;
}

.codigo-button{
    width: 40%;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin: auto;
    margin-bottom: 15px;
    background-color: #3282F6;
    color: #FFFFFF;
    margin-top: 0;
    
}
.codigo-button:hover{
    transform: translateY(-1px);
    box-shadow: 0px 10px 25px rgba(39, 93, 162, 0.3);
}

.codigo-error{
    color: red;
    margin-bottom: 10px;
}


.ojo-confirm{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    color: #AEB5C4;
    width: 10%;
    border: none;
    right: 13%;
    margin-top: 20px;
}
.ojo-confirm span{
    border-radius: 50%;
    padding: 5px;
}
.ojo-confirm span:hover{
    background-color: #061336;
}

.register-password-container{
    width: 100%;
    position: relative;
    grid-column: 1 / -1;
    
}
.register-password{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: 33px;
    border-radius: 12px;
    outline: none;
    grid-column: 1 / -1;

}
/*poner esto en responsive*/
.ingaturoña{
    width: 100%;
    grid-column: 1 / -1;

}
.register_error_edad{
    
}

.register-error-contraseña{
    margin: auto;
    grid-column: 1 / -1;
    width: 80%;
}